h1{
    margin-top: 15px;
}
.form_container{
    /* margin-top: 40px; */
    background-color:rgb(153, 207, 246);
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 10px;
    height:300px;
    width: 850px;
    border-radius: 10px;
}
.form_container input{
    margin-top: 10px;
    width: 98%;
    height: 20px;
    border: none;
    padding: 5px;
}

#submit{
    background-color: blue;
    width: 100px;
    height: 40px;
    color: white;
    padding: 5px;
    font-size: 20px;
}