body{
    /* background-color: rgb(116, 245, 245); */
    /* background-image: linear-gradient(to right bottom, #7fffd4, #77fdde, #73fbe7, #72f8ef, #74f5f5); */
    /* background-image: radial-gradient(circle, #7fffd4, #77fdde, #73fbe7, #18f6e7, #74f5f5); */
    background-color:rgb(131, 255, 255);
}

.home_container{
    /* margin-top: 70px; */
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home_container h1{
    /* margin-top: -50px; */
    /* border:2px solid black; */
    width: 300px;
    font-size: 50px;
    /* margin: auto; */
}
.home_content{
    height: 150px;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
}
.home_content span{
    display: inline-block;
    font-size: 20px;
}
.add_diary_btn{
    padding: 10px;
    font-size: 15px;
    background-color: green;
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.grass{
    position: absolute;
    left:0;
    right:0;
    bottom :70px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 100%;
}
.grass img{
    height:100px;
}
.last_grass{
    margin-left: -5px;
}
