*{
    margin:0px;
    padding: 0px;
}

.footer{
    height:70px;
    background-color:rgb(68, 2, 2);
    position: absolute;
    width: 100%;
    bottom:0;
    right:0;
    left:0;
    border-top: 2px solid green;
}