.nav{
    height:70px;
    width:100%;
    background-color:rgb(153, 207, 246);
    position: absolute;
    top:0;
    left:0;
    right:0;
    /* border-bottom: 2px solid green; */
}
.nav_items{
    display: flex;
    float : left;
    height: 70px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}
.nav_items ul{
    line-height: 70px;
}
.nav_items ul li{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    line-height: 70px;
    color: rgb(0, 5, 101);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.nav_items ul li a{
    text-decoration: none;
    color:rgb(0, 5, 101); ;
}

#logout{
    text-decoration: none;
    color:rgb(0, 5, 101); 
    font-weight: bold;
    line-height: 70px;
    position: absolute;
    right:30px;
    font-size: 18px;
    background-color: aqua;
    display: inline;
}