.register_box{
    height:310px;
    width:300px;
    /* border:2px solid black; */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:rgb(153, 207, 246);
    padding: 10px;
}
.register_box h1{
    font-size: 20px;
}
.register_box input{
    padding: 5px;
    border: none;
}

#submit{
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}